<<<<<<< HEAD
<%- include("partials/header"); -%>

<h1>Contact</h1>
<%= firstParagraph %>

<%- include("partials/footer"); -%>
=======
<%- include("partials/header"); -%>

<h1>Contact</h1>
<%= firstParagraph %>

<%- include("partials/footer"); -%>
>>>>>>> 19af54238b25583aa80d478d5157ab5da9038c44
