<%- include("partials/header"); -%>

<div class="post">
    <h3><%= post.title %></h3>
    <p class="post-time">by <%= post.posterName %> at <%= post.time %></p>
    <p><%= post.content %></p>
    <% if (post.posterId===id) { %>
    <form action="/delete-post" method="post">
        <input type="hidden" name="postId" value="<%= post._id %>">
        <button class="delete" type="submit" name="button">Delete</button>
    </form>
    <% } %>
</div>

<%- include("partials/footer"); -%>
